
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 class="display-4">Hola!</h1>
    <p class="lead">Esta Web API brinda el CRUD ( Métodos create, read, update y delete ) para la aplicación Web PuebaTecnicaCrudEscuela</p>
    <hr class="my-4">
    <p>Haz Clic en el siguiente botón para ser redireccionado a PuebaTecnicaCrudEscuela</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://localhost:44313/" target="_blank" role="button">Ir a PuebaTecnicaCrudEscuela</a>
    </p>
</div>

